#!/bin/bash
# iOS 17 - Carvalho (Fran's iPhone 12 mini)

# Aliases
alias grep='grep --color'
alias cdscripts='cd ~/Documents/.scripts'
alias src='source ~/Documents/.aliases'
alias la='ls -lah --group-directories-first'
alias ll='ls -lhG --group-directories-first'
alias pcat='[ ! -f "/opt/homebrew/bin/bat" ] && (pbpaste | cat) || pbpaste | bat'
alias pc='pbcopy'
alias pv='pbpaste'
alias myip='ifconfig en0 | grep '\''inet '\'' | awk {'\''print $2'\''}'
# Git
alias git='lg2'
alias gs='lg2 status'
alias gd='lg2 diff'
alias gp='lg2 push'
alias gl='lg2 pull'
alias gb='lg2 branch'
alias gk='lg2 checkout'
alias gc='lg2 commit -v -a'
alias gv='lg2 commit -v'
alias gf='lg2 fetch'
alias ga='lg2 add . && lg2 status'
alias gr='lg2 log --graph --oneline --full-history --color '
alias gkb='lg2 checkout -b'
alias gcm='lg2 commit -m'
alias grune='lg2 fetch -p && lg2 branch --merged | grep -v \* | xargs lg2 branch -d'
alias dirstatus='ls | xargs -I SHA sh -c '\''cd SHA/; echo; echo SHA; lg2 status -s; cd -;'\'''
# Github
alias ghpr='gh pr create -a @me -l enhancement'
alias ghprb='gh pr create -a @me -l bug'
# Editors
alias sublm='lg2 diff --name-only | xargs subl'
alias subll='gd @ @~ --name-only | xargs subl'

# Functions

# Taken from https://tldp.org/HOWTO/Bash-Prompt-HOWTO/x329.html
colours () {
    #   This function echoes a bunch of color codes to the
    #   terminal to demonstrate what's available.  Each
    #   line is the color code of one forground color,
    #   out of 17 (default + 16 escapes), followed by a
    #   test use of that color on all nine background
    #   colors (default + 8 escapes).

    T='gYw'   # The test text

    echo -e "\n                 40m     41m     42m     43m 44m     45m     46m     47m";

    for FGs in '    m' '   1m' '  30m' '1;30m' '  31m' '1;31m' '  32m'  '1;32m' '  33m' '1;33m' '  34m' '1;34m' '  35m' '1;35m'  '  36m' '1;36m' '  37m' '1;37m';
      do FG=${FGs// /}
      echo -en " $FGs \033[$FG  $T  "
      for BG in 40m 41m 42m 43m 44m 45m 46m 47m;
        do echo -en "$EINS \033[$FG\033[$BG  $T  \033[0m";
      done
      echo;
    done
    echo
}

# Checks Internet connection
myping () {
    ping 8.8.8.8 | while read pong; do echo "$(date): $pong"; done
}

# Colors for bash terminal
export CLICOLOR=1
export LSCOLORS=cxfxexexDxexexDxDxcxcx

# function parse_git_branch {
#     lg2 branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e 's/* master/(master)/' -e 's/* \(.*\)/(__\1__)/'
# }
# function proml {
#   local       RESET="\[\033[0m\]"
#   local        BLUE="\[\033[0;34m\]"
#   local  LIGHT_BLUE="\[\033[1;34m\]"
#   local         RED="\[\033[0;31m\]"
#   local   LIGHT_RED="\[\033[1;31m\]"
#   local       GREEN="\[\033[0;32m\]"
#   local LIGHT_GREEN="\[\033[1;32m\]"
#   local       WHITE="\[\033[1;37m\]"
#   local  LIGHT_GRAY="\[\033[0;37m\]"

#   if [ "$USER" == "root" ]; then
#     USERCOLOR="$LIGHT_RED"
#   else
#     USERCOLOR="$LIGHT_BLUE"
#   fi

#   PS1="$LIGHT_GREEN[$USERCOLOR\u@\h $LIGHT_GREEN\w]$GREEN\$(parse_git_branch)$WHITE\$$RESET "
#   PS2='> '
#   PS4='+ '

#   export SUDO_PS1="$LIGHT_GREEN[$LIGHT_RED\u@\h \w$LIGHT_GREEN]$WHITE\$$RESET "
# }
# proml

