#!/bin/sh
# iOS 17 - Carvalho (Fran's iPhone 12 mini)

# Aliases
alias src='source ~/Documents/.aliases'
alias cds='cd ~/Documents/.scripts'
alias grep='grep --color'
alias la='ls -lah --group-directories-first'
alias ll='ls -lhG --group-directories-first'
alias trea='tree -a -I .git'
alias pcat='[ ! -f "/opt/homebrew/bin/bat" ] && (pbpaste | cat) || pbpaste | bat'
alias pc='pbcopy'
alias pv='pbpaste'
alias myip='ifconfig en0 | grep '\''inet '\'' | awk {'\''print $2'\''}'
alias pong='ping 8.8.8.8'
# Git
alias git='lg2'
alias gs='lg2 status'
alias gd='lg2 diff'
alias gp='lg2 push'
alias gl='lg2 pull'
alias gb='lg2 branch'
alias gk='lg2 checkout'
alias gc='lg2 commit -v -a'
alias gv='lg2 commit -v'
alias gf='lg2 fetch'
alias ga='lg2 add . && lg2 status'
# alias gr='lg2 log --graph --oneline --full-history --color '
alias gr='lg2 log -2'
alias gkb='lg2 checkout -b'
alias gcm='lg2 commit -m'
alias grune='lg2 fetch -p && lg2 branch --merged | grep -v \* | xargs lg2 branch -d'
alias dirstatus='ls | xargs -I SHA sh -c '\''cd SHA/; echo; echo SHA; lg2 status -s; cd -;'\'''
# Github
alias ghpr='gh pr create -a @me -l enhancement'
alias ghprb='gh pr create -a @me -l bug'
# Editors
alias sublm='lg2 diff --name-only | xargs subl'
alias subll='gd @ @~ --name-only | xargs subl'
# Functions
alias test='sh ~/Documents/.scripts/functions/test.sh'
alias colours='sh ~/Documents/.scripts/functions/colours.sh'

# Colors for bash terminal
export CLICOLOR=1
export LSCOLORS=cxfxexexDxexexDxDxcxcx

